FINAL.json
[
  {
    "name": "WA_ORDER_CREATED",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "order-created",
          "responseMode": "onReceived",
          "responseCode": 200
        },
        "name": "Webhook Order Created",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3123/api/sendText",
          "jsonParameters": true,
          "bodyParametersJson": "{\n  \"session\": \"default\",\n  \"chatId\": \"={{ $json.phone }}@c.us\",\n  \"text\": \"🎉 Pesanan *{{ $json.orderNumber }}* berhasil dibuat.\\nTotal: Rp {{ $json.total }}\\nMenunggu pembayaran.\"\n}"
        },
        "name": "Send WA Order Created",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          500,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Order Created": {
        "main": [
          [
            {
              "node": "Send WA Order Created",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false
  },
  {
    "name": "WA_PAYMENT_SUCCESS",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "payment-success",
          "responseMode": "onReceived",
          "responseCode": 200
        },
        "name": "Webhook Payment Success",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3123/api/sendText",
          "jsonParameters": true,
          "bodyParametersJson": "{\n  \"session\": \"default\",\n  \"chatId\": \"={{ $json.phone }}@c.us\",\n  \"text\": \"✅ Pembayaran *{{ $json.orderNumber }}* BERHASIL.\\nPesanan segera diproses.\"\n}"
        },
        "name": "Send WA Payment Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          500,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Payment Success": {
        "main": [
          [
            {
              "node": "Send WA Payment Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false
  },
  {
    "name": "WA_ORDER_SHIPPED",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "order-shipped",
          "responseMode": "onReceived",
          "responseCode": 200
        },
        "name": "Webhook Order Shipped",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:3123/api/sendText",
          "jsonParameters": true,
          "bodyParametersJson": "{\n  \"session\": \"default\",\n  \"chatId\": \"={{ $json.phone }}@c.us\",\n  \"text\": \"📦 Pesanan *{{ $json.orderNumber }}* telah dikirim.\\nKurir: {{ $json.courier }}\\nResi: {{ $json.trackingNumber }}\"\n}"
        },
        "name": "Send WA Order Shipped",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          500,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Order Shipped": {
        "main": [
          [
            {
              "node": "Send WA Order Shipped",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false
  }
]