n8n-workflows/WA_ERROR_SPIKE.json
{
    "name": "WA Error Spike",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "error-spike",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-error-spike",
            "name": "Webhook Error Spike",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "error-spike"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.errorCount }}",
                            "operation": "larger",
                            "value2": 0
                        }
                    ]
                }
            },
            "id": "if-valid-payload",
            "name": "IF Valid Payload",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3123/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "X-Api-Key",
                            "value": "infiatin-store-2025DEC-9K7XQ2M8L4A6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.adminPhone }}@c.us\",\n  \"text\": \"🔥 *ERROR SPIKE DETECTED*\\n\\n⚠️ Lonjakan error terdeteksi!\\n📊 Jumlah Error: *{{ $json.errorCount }}* dalam {{ $json.timeWindow }}\\n🔴 Error Type: {{ $json.errorType }}\\n📍 Endpoint: {{ $json.endpoint }}\\n⏰ Waktu: {{ $json.timestamp }}\\n\\nSegera investigasi sistem!\"\n}",
                "options": {}
            },
            "id": "send-wa-error-spike",
            "name": "Send WA Error Spike",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                700,
                250
            ]
        }
    ],
    "connections": {
        "Webhook Error Spike": {
            "main": [
                [
                    {
                        "node": "IF Valid Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid Payload": {
            "main": [
                [
                    {
                        "node": "Send WA Error Spike",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "instanceId": "infiatin-store"
    },
    "tags": []
}