n8n-workflows/WA_ORDER_COMPLETED.json
{
    "name": "WA Order Completed",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "order-completed",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-order-completed",
            "name": "Webhook Order Completed",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "order-completed"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.orderNumber }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "if-valid-payload",
            "name": "IF Valid Payload",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://waha.infiya.store/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "X-Api-Key",
                            "value": "infiatin-store-2025DEC-9K7XQ2M8L4A6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.phone }}@c.us\",\n  \"text\": \"✅ *PESANAN SELESAI*\\n\\nHalo {{ $json.customerName }}!\\n\\nPesanan Anda telah selesai:\\n📋 No. Order: *{{ $json.orderNumber }}*\\n\\nTerima kasih telah berbelanja di Infiatin Store! 🙏\\n\\nBerikan ulasan untuk produk kami ya! ⭐\"\n}",
                "options": {}
            },
            "id": "send-wa-order-completed",
            "name": "Send WA Order Completed",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                700,
                250
            ]
        }
    ],
    "connections": {
        "Webhook Order Completed": {
            "main": [
                [
                    {
                        "node": "IF Valid Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid Payload": {
            "main": [
                [
                    {
                        "node": "Send WA Order Completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "instanceId": "infiatin-store"
    },
    "tags": []
}