n8n-workflows/WA_ORDER_CANCELLED.json
{
    "name": "WA Order Cancelled",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "order-cancelled",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-order-cancelled",
            "name": "Webhook Order Cancelled",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "order-cancelled"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.orderNumber }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "if-valid-payload",
            "name": "IF Valid Payload",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3123/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "X-Api-Key",
                            "value": "infiatin-store-2025DEC-9K7XQ2M8L4A6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.phone }}@c.us\",\n  \"text\": \"❌ *PESANAN DIBATALKAN*\\n\\nHalo {{ $json.customerName }},\\n\\nPesanan Anda telah dibatalkan:\\n📋 No. Order: *{{ $json.orderNumber }}*\\n📝 Alasan: {{ $json.reason }}\\n\\nJika ada pertanyaan, silakan hubungi kami.\\nTerima kasih! 🙏\"\n}",
                "options": {}
            },
            "id": "send-wa-order-cancelled",
            "name": "Send WA Order Cancelled",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                700,
                250
            ]
        }
    ],
    "connections": {
        "Webhook Order Cancelled": {
            "main": [
                [
                    {
                        "node": "IF Valid Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid Payload": {
            "main": [
                [
                    {
                        "node": "Send WA Order Cancelled",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "instanceId": "infiatin-store"
    },
    "tags": []
}