n8n-workflows/WA_REFUND_REQUESTED.json
{
    "name": "WA Refund Requested",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "refund-requested",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-refund-requested",
            "name": "Webhook Refund Requested",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "refund-requested"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.orderNumber }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "if-valid-payload",
            "name": "IF Valid Payload",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://waha.infiya.store/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "X-Api-Key",
                            "value": "infiatin-store-2025DEC-9K7XQ2M8L4A6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.adminPhone }}@c.us\",\n  \"text\": \"🔄 *PERMINTAAN REFUND*\\n\\n⚠️ Ada permintaan refund baru:\\n📋 No. Order: *{{ $json.orderNumber }}*\\n👤 Customer: {{ $json.customerName }}\\n💰 Jumlah: Rp {{ $json.amount }}\\n📝 Alasan: {{ $json.reason }}\\n\\nSegera proses di dashboard admin.\"\n}",
                "options": {}
            },
            "id": "send-wa-refund-requested",
            "name": "Send WA Refund Requested",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                700,
                250
            ]
        }
    ],
    "connections": {
        "Webhook Refund Requested": {
            "main": [
                [
                    {
                        "node": "IF Valid Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid Payload": {
            "main": [
                [
                    {
                        "node": "Send WA Refund Requested",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "instanceId": "infiatin-store"
    },
    "tags": []
}