n8n-workflows/WA_SECURITY_ALERT.json
{
    "name": "WA Security Alert",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "security-alert",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-security-alert",
            "name": "Webhook Security Alert",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "security-alert"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.alertType }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "if-valid-payload",
            "name": "IF Valid Payload",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3123/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "X-Api-Key",
                            "value": "infiatin-store-2025DEC-9K7XQ2M8L4A6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.adminPhone }}@c.us\",\n  \"text\": \"🚨 *SECURITY ALERT*\\n\\n⚠️ Terdeteksi aktivitas mencurigakan:\\n🔐 Tipe: *{{ $json.alertType }}*\\n📍 IP: {{ $json.ipAddress }}\\n👤 User: {{ $json.userId }}\\n📝 Detail: {{ $json.details }}\\n⏰ Waktu: {{ $json.timestamp }}\\n\\nSegera periksa dashboard admin!\"\n}",
                "options": {}
            },
            "id": "send-wa-security-alert",
            "name": "Send WA Security Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                700,
                250
            ]
        }
    ],
    "connections": {
        "Webhook Security Alert": {
            "main": [
                [
                    {
                        "node": "IF Valid Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid Payload": {
            "main": [
                [
                    {
                        "node": "Send WA Security Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "instanceId": "infiatin-store"
    },
    "tags": []
}